body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h2 {
  text-align: center;
  color: #333;
}

h4 {
  text-align: center;
  color: #666;
}

.logout {
  text-align: center;
  margin-top: 50px;
}

.logout a {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.logout a:hover {
  background-color: #3e8e41;
}